@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  @apply bg-gray-50 flex flex-1 text-sm font-normal leading-5 outline-none focus:outline-none
}

.rounded-invert-right {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-width: 1px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: dashed;
  border-color: #C3DDFD;
  background-color: #EBF5FF;

  gap: 8px;
  width: 150px;
  height: 150px;
  padding-left: 29px;
  padding-right: 29px;

  --mask: radial-gradient(16px at 100% 16px,#0000 98%,#000) 0 -16px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.rounded-invert-left {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #C3DDFD;
  background-color: #EBF5FF;

  gap: 8px;
  width: 150px;
  height: 150px;
  padding-left: 29px;
  padding-right: 29px;

  --mask: radial-gradient(16px at 0 16px,#0000 98%,#000) 0 -16px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.text-primary {
  @apply text-[#1A56DB]
}

.bg-primary {
  @apply bg-[#1A56DB]
}

.text-secondary {
  @apply text-[#8FA8DE]
}

.bg-secondary {
  @apply bg-[#8FA8DE]
}

.heading-1 {
  @apply text-5xl font-extrabold leading-10;
}

.heading-2 {
  @apply text-4xl font-bold leading-9;
}

.heading-3 {
  @apply text-3xl font-bold leading-loose;
}

.heading-4 {
  @apply text-2xl font-bold leading-normal;
}

.heading-5 {
  @apply text-xl font-bold leading-tight;
}

.heading-6 {
  @apply text-lg font-bold leading-none;
}

.normal {
  @apply text-lg font-normal leading-relaxed;
}

.small {
  @apply text-sm font-normal;
}

.very-small {
  @apply text-xs font-normal;
}

.sidebar-hover {
  @apply hover:bg-gray-100 hover:rounded-xl px-2 py-2
}

.sidebar-content {
  opacity: 1;
  max-height: 500px;
  transition: opacity 2s ease, max-height 2s ease;
}

.sidebar-content.collapsed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease, max-height 0.7s ease;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}