@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 640px;
  font-family: "Figtree", sans-serif;
}

/*Input style*/
input {
  @apply bg-gray-50 flex flex-1 text-sm font-normal leading-5 outline-none focus:outline-none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Customize the toast container */
.Toastify__toast-container {
  width: 400px;
}

/* Customize each toast */
.Toastify__toast {
  background-color: white;
  color: rgb(91, 96, 107);
  border-width: 1px;
  font-size: 16px;
}

/* Custom border */
.content-border {
  @apply border-1 border-gray-200 rounded-lg pb-4;
}

/* Custom style */
.text-primary {
  @apply text-[#1A56DB];
}

.bg-primary {
  @apply bg-[#1A56DB];
}

.text-secondary {
  @apply text-[#8FA8DE];
}

.bg-secondary {
  @apply bg-[#8FA8DE];
}

.heading-1 {
  @apply text-5xl font-extrabold leading-10;
}

.heading-2 {
  @apply text-4xl font-bold leading-9;
}

.heading-3 {
  @apply text-3xl font-bold leading-loose;
}

.heading-4 {
  @apply text-2xl font-bold leading-normal;
}

.heading-5 {
  @apply text-xl font-bold leading-tight;
}

.heading-6 {
  @apply text-lg font-bold leading-none;
}

.normal {
  @apply text-lg font-normal leading-relaxed;
}

.small {
  @apply text-sm font-normal;
}

.very-small {
  @apply text-xs font-normal;
}

.sidebar-hover {
  @apply hover:bg-gray-100 hover:rounded-xl px-2 py-2;
}

/* Page spinner */
.spinner-loader {
  /* HTML: <div class="loader"></div> */
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1A56DB;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.webkit-sticky {
  position: -webkit-sticky;
}

/* Max height transition */
.grid-rows-transition {
  position: relative;
  line-height: 32px;
  display: grid;
  grid-template-rows: 0.8fr;
  transition: 1000ms grid-template-rows ease;
}

.grid-rows-transition > div {
  overflow: hidden;
}

.grid-rows-transition-open {
  grid-template-rows: 1fr;
}

.grid-transition-rows {
  transition-duration: 1000ms;
  transition-property: grid-template-rows;
  transition-timing-function: ease;
}

.white-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
}

/* Styling for img icon whose source is svg*/

.svg-icon {
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon-trash {
  mask-image: url("./assets/icon/trash_icon.svg");
  -webkit-mask-image: url("./assets/icon/trash_icon.svg");
}

.icon-shipping {
  mask-image: url("./assets/icon/delivery-icon.svg");
  -webkit-mask-image: url("./assets/icon/delivery-icon.svg");
}

.icon-delivery {
  mask-image: url("./assets/icon/fast-delivery.svg");
  -webkit-mask-image: url("./assets/icon/fast-delivery.svg");
}

.icon-product {
  mask-image: url("./assets/icon/product.svg");
  -webkit-mask-image: url("./assets/icon/product.svg");
}

.icon-shop {
  mask-image: url("./assets/icon/shop.svg");
  -webkit-mask-image: url("./assets/icon/shop.svg");
}

/* Coupon style */
.rounded-invert-right {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-width: 1px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: dashed;
  border-color: #c3ddfd;
  background-color: #ebf5ff;

  padding-inline: 8px;
  gap: 8px;
  width: fit-content;
  box-sizing: content-box;
  height: 45px;

  --mask: radial-gradient(8px at 100% 8px, #0000 98%, #000) 0 -8px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.rounded-invert-left {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #c3ddfd;
  background-color: #ebf5ff;

  gap: 8px;
  width: fit-content;
  height: 45px;
  box-sizing: content-box;
  padding-inline: 8px;

  --mask: radial-gradient(8px at 0 8px, #0000 98%, #000) 0 -8px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* Sidebar style */
.sidebar-content {
  opacity: 1;
  max-height: 500px;
  transition: opacity 2s ease, max-height 2s ease;
}

.sidebar-content.collapsed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease, max-height 0.7s ease;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
