@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-1 {
  @apply text-5xl font-extrabold leading-10;
}

.heading-2 {
  @apply text-4xl font-bold leading-9;
}

.heading-3 {
  @apply text-3xl font-bold leading-loose;
}

.heading-4 {
  @apply text-2xl font-bold leading-normal;
}

.heading-5 {
  @apply text-xl font-bold leading-tight;
}

.heading-6 {
  @apply text-lg font-bold leading-none;
}

.normal {
  @apply text-lg font-normal leading-relaxed;
}

.small {
  @apply text-sm font-normal;
}

.very-small {
  @apply text-xs font-normal;
}

.sidebar-hover{
  @apply hover:bg-gray-100 hover:rounded-xl px-2 py-2
}

.sidebar-content {
  opacity: 1;
  max-height: 500px;
  transition: opacity 2s ease, max-height 2s ease;
}

.sidebar-content.collapsed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease, max-height 0.7s ease;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  animation: fadeIn 0.7s ease forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

